<div class="icons">
  {{ with .twitter }}
    <a href="https://twitter.com/{{ .user }}" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
      <i class="fa fa-{{ .icon }} fa-stack-1x fa-inverse" aria-hidden="true"></i>
    </a>
  {{ end }}
  {{ with .mastodon }}
    <a href="https://{{ .host }}/@{{ .user }}" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
      <i class="fa fa-{{ .icon }} fa-stack-1x fa-inverse" aria-hidden="true"></i>
    </a>
  {{ end }}
  {{ with .github }}
    <a href="https://github.com/{{ .user }}" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
      <i class="fa fa-{{ .icon }} fa-stack-1x fa-inverse" aria-hidden="true"></i>
    </a>
  {{ end }}
  {{ with .git }}
    <a href="https://{{ .host }}/@{{ .user }}" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
      <i class="fa fa-{{ .icon }} fa-stack-1x fa-inverse" aria-hidden="true"></i>
    </a>
  {{ end }}
  {{ with .email }}
    <a href="mailto://{{ .address}}" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
      <i class="fa fa-{{ .icon }} fa-stack-1x fa-inverse" aria-hidden="true"></i>
    </a>
  {{ end }}
  {{ with .linkedin }}
    <a href="https://linkedin.com/in/{{ .user }}" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
      <i class="fa fa-{{ .icon }} fa-stack-1x fa-inverse" aria-hidden="true"></i>
    </a>
  {{ end }}
</div>
