<nav class="nav">
  <h1 class="title"><a href="/">{{ .Site.Title }}</a></h1>
  <p>{{ .Site.Params.location }} | {{ dateFormat "Monday, Jan 2, 2006" .Site.Params.date }}</p>
  {{ $currentPage := . }}
  <ul class="menu">
    {{ range .Site.Menus.main }}
      <li class="menu-item">
        <a
          class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}"
          href="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}#{{ else }}/{{ urlize .Identifier }}{{ end }}"
          >{{ humanize .Identifier }}</a>
      </li>
    {{ end }}
  </ul>
</nav>
