<div class="icons">
  <a href="https://www.facebook.com/share.php?u={{ .Site.BaseURL }}&title={{ .Site.Title }}"
    target="blank" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
  </a>

  <a target="blank" class="fa-stack fa-lg"
    href="https://twitter.com/intent/tweet?status={{ .Site.Title }}+{{ .Site.BaseURL }}">
      <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
  </a>

  <a target="blank" class="fa-stack fa-lg" href="https://plus.google.com/share?url={{ .Site.BaseURL }}">
    <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
    <i class="fa fa-google-plus fa-stack-1x fa-inverse" aria-hidden="true"></i>
  </a>

  <a target="blank" class="fa-stack fa-lg"
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Site.BaseURL }}&title={{ .Site.Title }}">
      <i class="fa fa-circle fa-stack-2x"aria-hidden="true" ></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i>
  </a>
</div>
