.container {
  display: grid;
  grid-column-gap: 1em; // sass-lint:disable-line no-misspelled-properties
  grid-row-gap: 1em; // sass-lint:disable-line no-misspelled-properties
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: auto;
  grid-template-rows: auto;

  a {
    text-decoration: none;
  }

  footer {
    grid-area: footer;

    .tag {
      color: $white;
      font-size: 1rem;
      text-align: center;

      a {
        color: $white;
      }
    }
  }

  main {
    grid-area: main;
  }

  header {
    grid-area: header;
    @import 'nav';
  }
}
