nav {
  margin: $title-margin;
  text-align: center;

  a {
    color: $green;
  }

  p {
    color: $white;
  }

  .title {
		font-family: hummel;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    margin: $text-margin;
  }

	h2, h3 {
		margin: 0;
		color: white;
	}

  .menu {
    @include flex;
    overflow: hidden;
  }
}
